.issueList
  .issue
    a:hover
      color: #4078c0;
    a
      text-decoration: none;
      color: #000;
      &.issueAuthor {
      
      }
      &.title {
        
      }
    .avatar
      size 100px 100px
    p {
      
    }
